<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php">

    <php>
        <server name='SERVER_PROTOCOL' value='HTTP/1.1' />
        <server name='HTTPS'           value='on' />
        <server name='SERVER_NAME'     value='josantonius.com' />
        <server name='REQUEST_URI'     value='/developer/' />
        <server name='DOCUMENT_ROOT'   value='/var/www/josantonius/public' />
        <server name='SERVER_PORT'     value='80' />
        <server name='HTTP_REFERER'    value='https://www.google.es/' />
        
        <var name="ID"          value="" />
        <var name="DB_HOST"     value="127.0.0.1" />
        <var name="DB_USER"     value="travis" />
        <var name="DB_PASSWORD" value="" />
        <var name="DB_NAME"     value="phpunit" />
    </php>

    <testsuites>
        <testsuite name="Test Suite">
            <file>tests/ConnectionTest.php</file>
            <file>tests/CreateTest.php</file>
            <file>tests/InsertTest.php</file>
            <file>tests/SelectTest.php</file>
            <file>tests/ReplaceTest.php</file>
            <file>tests/UpdateTest.php</file>
            <file>tests/DeleteTest.php</file>
            <file>tests/TruncateTest.php</file>
            <file>tests/DropTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

</phpunit>
